<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm">

      <div class="form-group">
        <textarea class="form-control" name="inputTextarea" rows="4" ngModel></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="button" (click)="onSearch()">Search</button>
      </div>

      <ul class="list-group" *ngIf="definitions.length>0">
        <li class="list-group-item" *ngFor="let definition of definitions">{{ definition }}</li>
      </ul>

    </form>
  </div>
</div>

