<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm">
      <div class="form-group">
        <label for="sourceSelect">Source language</label>
        <select class="form-control"
                id="sourceSelect"
                name="sourceSelect"
                ngModel
        >
          <option *ngFor="let language of languages; let i = index" [value]="language.id">{{ language.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Target language</label>
        <select class="form-control"
                id="targetSelect"
                name="targetSelect"
                ngModel
        >
          <option *ngFor="let language of languages; let i = index" [value]="language.id">{{ language.name }}</option>

        </select>
      </div>

      <button class="btn btn-primary" type="button" (click)="onDetectLanguage()">Detect language</button>
      <hr>
      <div class="form-group">
        <textarea class="form-control" name="inputTextarea" rows="4" ngModel>

        </textarea>
      </div>
      <hr>

      <button class="btn btn-primary" type="button" (click)="onTranslate()">Translate</button>
      <hr>
      <div class="form-group">
        <textarea class="form-control" name="outputTextarea" rows="4" ngModel>

        </textarea>
      </div>
      <hr>

    </form>
  </div>
</div>

